*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	font-family: Arial;
}
.thebread .breadcrumb{
    padding: 8px 15px;
    margin-bottom: 7px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
}
.container {
    width: 1170px;
}
.container.maincontent {
    position: relative;
    margin-top: -310px;
}
.main_info {
    margin-top: 215px;
}
.attachment-small.wp-post-image {
    width: 150px;
    height: 150px;
}
.header-img > img {
    width: 100%;
}
img {
    vertical-align: middle;
}
.sitename h2{
	margin-top: 29px;
	margin-left: 0px;
	color: #ffffff;
	font-size: 20px;
}
.sitename span{
	color: #ffffff;
	
}
.detailed_info{
	margin-top: 30px;
	font-weight: normal;
	color: #ffffff;
}
.detailed_info > span {
    margin-left: 10px;
    margin-right: 8px;
	font-weight: normal;
    color: #fff;
}
#post-ratings-163 em {
    display: inline;
    margin-left: 14px;
    color: #000;
    font-weight: bold;
}
.links {
    background: #ebebeb none repeat scroll 0 0;
    margin-top: 25px;
    overflow: hidden;
    padding: 11px 0;
}
.links > li {
    float: left;
    list-style: outside none none;
    padding: 0 19px;
    text-decoration: none;
    font-size: 13px;

}
.links a {
    color: #707070;
    text-decoration: none;
}
.abut_sec h2 {
    border-bottom: 2px solid #dfdfdf;
    color: #015786;
    font-size: 20px;
    padding-bottom: 18px;
}
.wr-megamenu-container.primary_324 {background: #000 !important;}.primary_324 .wr-mega-menu > li:hover > a, .primary_324 .wr-mega-menu > li.focus > a {background: #1cba70 !important;}.primary_324 .wr-mega-menu > li > a > i, .primary_324 .wr-mega-menu .sub-menu a i {display:none !important;}.primary_324 .wr-mega-menu > li > a > i {font-size: 16px !important;}
.col-sm-3.rigt_side {
    margin-top: 31px;
}
.rigt_side > a {
    background: rgba(0, 0, 0, 0) url("../images/color.png") repeat scroll 0 0;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    padding: 11px 40px;
}
.rigt_side > a:hover{
	text-decoration: none;
	opacity: .7;
}
#widget-area ul li{
	 list-style-type: none;

}
#widget-area ul li a {
    border-bottom: 1px solid;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
   text-decoration: none;
}
#recent-posts-2 a {
    color: #6d6d6d;
    
}
#thumbnails img{
    padding: 20px 0px 10px 20px;
}

/* Today's css */

.leftVarMenu {
   float: right;
    position: fixed;
    top: 504px;
    left: 200px;
    width: 50px;
}
.fmenu{
    position: fixed;
        top: 0;
     left: 200px;
}
.leftVarMenu ul {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 220px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.leftVarMenu ul li {
    font-size: 12px;
    line-height: 18px;
    position: relative;
    text-align: center;
    margin: 2px 0 5px;
    padding: 0;
}
.leftVarMenu ul li.active{
}
.leftVarMenu ul li a {
    display: inline-block;
    background: #fff;
    border: 1px solid #8e8e8e;
    color: #8e8e8e;
    font-size: 32px;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: #ffffff;
}
.leftVarMenu ul li.active a{
    background-color: #0CB4BF;
}
.leftVarMenu ul li a img {
    width: 30px;
    height: 30px;
}
aside .block, .sidebar-right .block {
    position: relative;
    float: left;
    width: 100%;
}
.alignCenter {
    text-align: center;
}
.customBlock {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}
.customBlock h2 {
    font: normal 1.3em/1.3em 'robotobold',sans-serif;
}
.space_text {
    display: block;
    font-size: 1.2em;
    margin: 5px 0;
}
.review-rating-block .stars {
    display: inline-block;
    margin: 0.5em 0 1em;
    width: 100%;
}
.starDumy {
    background: url(../images/iconStar.png) repeat-x 0 -33px;
    display: inline-block;
    height: 30px;
    text-align: left;
    width: 200px;
}
.starDumy .star-percent {
    background: url(../images/iconStar.png) repeat-x 0 0;
    display: inline-block;
    height: 30px;
}
.btn-green {
    background-color: #27ae60;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #fff;
}
.btn-review{
    padding: 6px 20px;
    display: inline-block;
    cursor: pointer;
}
.btn-review:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(39,174,96,1);
}
.contentBlockSec.mar-btm-20 {
    margin-bottom: 20px;
}
.contentBlockSec {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
}
.blockSubHeading, .contentBlockSec h2.block-title {
    color: #333;
    display: inline-block;
    font: normal 15px/100% robotobold,sans-serif !important;
    margin-bottom: 10px;
    width: 100%;
}
.ugAndPgCourses, .node-type-college #block-college-college-course-offered .block-title {
    margin: 0 20px;
     background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 28px;
    height: 30px;
}
.ratingUgAndPg {
    background: #d9d9d9 none repeat scroll 0 0;
    border-radius: 28px;
    display: block;
    height: 28px;
    position: relative;
    /*margin: 4px;*/
}
.test {
    /*background: #0cb4bf none repeat scroll 0 0;*/
    border-radius: 28px;
    /*color: #fff;*/
    height: 100%;
    line-height: 28px;
    right: 0;
    /*position: absolute;*/
    /*text-align: center;*/
    top: 0;
    width: 50%;
}
.innerUgAndPg {
    background: #0cb4bf none repeat scroll 0 0;
    border-radius: 28px;
    color: #fff;
    height: 100%;
    line-height: 28px;
    right: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
}
.innerUgAndUg {
    background: #0cb4bf none repeat scroll 0 0;
    border-radius: 28px;
    color: #fff;
    height: 100%;
    line-height: 28px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
}
.bar-show{
    display: none;
}
.ratingUgAndPg .text-right {
    position: absolute;
    right: 0%;
    top: 0px;
}
#myModal .star{
    color: #CC2275;
}
#btnSubmit{
    background-color: #ED1C24;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;

}
#btnSubmit:hover{
    background-color: #CCCCCC;
    color: #000000;
}
.smtext{
    color: #CCCCCC;
}
.selectyear{
    width: 100%;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/down.png) 98% / 1% no-repeat #fff;
}
/* Rating css content............................................... */
.form-field-single.form-field {
    width: 100%;
}
.college-review-form label {
    color: #000;
    font-size: 16px;
    margin: 0px 0px 5px 0px;
    font-style: normal;
}
.overall-rating_main-container {
    border: 1px solid #ddd;
    margin: 0px 0px 1em 0px;
    padding: 10px 20px;
    width: 100%;
}
.overall-rating_field {
    border-bottom: 1px solid #ddd;
    padding: 15px 0 23px;
    width: 96.5% !important;
    margin-left: 1.5%;
    margin-bottom: 1.5em;
}
.review-form_container .overall-rating_field label, .review-form_container .overall-rating_field .form-item, .review-form_container .overall-rating_field .description {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}
.review-form_container .review-body label, .college_heading, .review-form_container .overall-rating_field label, .add-college_img legend, .form-field.review-title label {
  
    font-style: normal;
    font-weight: normal;
    color: #000;
    margin: 5px 0px;
}
.overall-rating_field label {
    margin-right: 54px !important;
}
.review-form_container .form-text, .review-form_container .form-select {
    padding: 8px 12px;
    border-color: #ccc;
}
.review-form_container textarea, .form-text, select {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #edeeef inset;
    -webkit-box-shadow: 0 0 10px #edeeef inset;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
div.fivestar-widget {
    display: block;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.overall-rating_field .halfstar .fivestar-widget .star.odd, .overall-rating_field .halfstar div.fivestar-widget-static .star-odd {
    width: 18px !important;
}
.overall-rating_field .fivestar-basic div.fivestar-widget .star, .overall-rating_field .fivestar-basic div.fivestar-widget .star a {
    background-image: url(../images/reviewBig.png) !important;
    height: 30px;
    width: 18px !important;
   /*  background-position: 0px 0px; */
}
div.fivestar-widget .star, div.fivestar-widget .star a {
    background: url(../images/star.png) no-repeat 0 0;
    text-decoration: none;
}
div.fivestar-widget .cancel, div.fivestar-widget .star {
    float: left;
   /*  width: 17px;
   height: 15px; */
    overflow: hidden;
    text-indent: -999em;
}
.overall-rating_field div.fivestar-widget div.on a {
    background-position: 0 -36px !important;
}
div.fivestar-widget .cancel a, div.fivestar-widget .star a {
    display: block;
    /* width: 100%;
    height: 100%; */
    background-position: 0 0;
    cursor: pointer;
}
.overall-rating_field .halfstar .fivestar-widget .star.even.on, .overall-rating_field .halfstar .fivestar-widget .star.even.on a {
    background-position: -17px -36px !important;
}
.overall-rating_field .halfstar .fivestar-widget .star.even, .overall-rating_field .halfstar div.fivestar-widget-static .star-even {
    width: 18px !important;
}
.review-form_container .form-text, .review-form_container .form-select {
    padding: 8px 12px;
    border-color: #ccc;
}
#title_hover_rating, #title_click_rating {
    color: #27ae60;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 60px;
    margin-top: -22px;
    text-align: center;
    width: 34%;
}