*{
	margin: 0px;
	padding:0px;
}
.left_cont label{
	color: #737373;
	font-size: 14px;
}
.left_cont .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    padding-bottom: 7px;
}
.postdata{
	margin-top: 20px;
}
.header .foundcount{
    font-size: 19px;
    text-align: left;
}
.postImage{
	margin-top: -25px;
}
ul.result{
    margin: 0;
    padding: 0;
    list-style: none;
}
.result div {
    float: left;
    margin-right: 0px;
}
.search_content {
    color: #A4A4A4;
    font-weight: 600;
     margin-top: -10px;
      margin-left: 20px;
    width: 67%;
}
.search_content > p {
    font-weight: normal;
    margin-bottom: 15px;
    color: #A4A4A4;
    font-weight: bold;
    margin-top: -10px;
}
p {
    margin: 0 0 10px;
}
.post-ratings {
    font-weight: normal;
    color: #3b85d9;
    margin-bottom: 8px;
    width: 100%;
    opacity: 1;
}
.post-ratings-loading {
    display: none;
    height: 16px;
    text-align: left;
}
.search_content > small {
    font-weight: normal;
    display: block;
    font-size: 14px;
    line-height: 26px;
}
.search_content > ul {
    float: right;
    position: relative;
    margin-top: -24px;
    margin-right: 40px;
}
.result a > img {
    height: 100px;
    width: 100px;
    margin-top: 24px;
}

.result li {
	background: #f0f0f0;
	list-style: outside none;
}
/* .result li:hover{
	border:1px solid #000000;
	background-color: #ccc;
} */
.search_content li {
    float: left;
    margin-left: 20px;
}
.tooltip.tooltipstered {
    padding: 0;
}
.tooltip.tooltipstered {
    opacity: 1.0;
    position: relative;
}
ul.result img {
    max-width: 100%;
    height: auto;
}
.iwell img{
	width: 100%;
}
.postImage img{
	width: 110%;
	
}
.postImage .second_img {
	border:1px solid #000;
	margin-top: 20px;
	margin-bottom: 70px;
}
#myForm{
	text-align: center;
	margin-bottom: 100px;
	background-color: #F4F4F4;
	border:1px solid #000;
}
.clear{
	clear: both;
}
#myForm h3{
	font-size: 19px;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 24px;
	color: #333335;
}
#myForm .textboxes input {
    width: 27%;
	border: none;
	padding: 4px 7px;
	background-color: #ffffff;
	margin-bottom: 20px;
	margin-right: 2%;
}
#myForm .selectbox select {
    width: 230px;
   	padding: 6px 5px;
    border: none;
    background-color: #F2F1F0;
    margin-bottom: 20px;
}
#myForm .confirm label{
	font-size: 14px;
	font-weight: normal;
}
#myForm .btnSubmit, #myForm .btnSubmit:hover{
	padding: 10px 50px 10px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0072BB;
}
.news{
	background-color: #307488;
	padding-top: 35px;
	padding-bottom: 35px;
}
#newsForm label{
	font-size: 22px;
	color: #ffffff;
	padding-right: 30px;
}
#newsForm input {
    width: 230px;
  	padding: 10px 7px;
    border: none;
    background-color: #ffffff;
    border-radius: 2px;
    margin-right: 30px;

}
#newsForm .btnSignup{
	background-color: #FFAE00;
	font-size: 18px;
	border-radius: 5px;
	padding: 8px 20px;
}
#newsForm .btnSignup:hover{
	background-color: #D89505;
}
#post-ratings-163 em{
	color: #ffffff;
	font-size: 18px;
}
.result .search_content h3 a{
	color:#000000;
}
.result .search_content h3 a:hover{
	color: #666677;
	text-decoration: none;
}
.top_header{
	margin-top: 20px;
}
.top_header .foundcount{
	color: #33333B;
	font-size: 18px;
	margin: 0px 0px 10px 20px;
}


